#define shipBmpId 100
#define space_backgroundBmpId 101
#define asteroid1BmpId 102
#define asteroid2BmpId 103
#define asteroid3BmpId 104
#define projectileBmpId 105
#define explosionBmpId 106
#define prepareBmpId 107
#define titleBmpId 108
#define game_overBmpId 109
#define aperte_enterBmpId 110
#define ship_onBmpId 111


500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ICON.ICO"
501 icon "ICON.ICO"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "ship_image.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "space_background.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid1.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid2.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid3.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "projectile.bmp"
106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "explosion.bmp"
107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "prepare.bmp"
108 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "title.bmp"
109 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "game_over.bmp"
110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "aperte_enter.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "ship_image_on.bmp"