#define shipBmpId 100
#define space_backgroundBmpId 101
#define asteroid1BmpId 102
#define asteroid2BmpId 103
#define asteroid3BmpId 104

#define IDM_TEST 1
#define IDM_HELLO 2
#define IDM_GOODBYE 3
#define IDM_EXIT 4


500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"
501 icon "MAINICON.ICO"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "ship_image.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "space_background.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid1.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid2.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid3.bmp"