#define shipBmpId 100
#define space_backgroundBmpId 101
#define asteroid1BmpId 102
#define asteroid2BmpId 103
#define asteroid3BmpId 104
#define projectileBmpId 105


500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"
501 icon "MAINICON.ICO"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "ship_image.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "space_background.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid1.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid2.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid3.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "projectile.bmp"